body {
    background-color: beige;
}

.name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.mislogros {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.lista{
    font-weight: bold;
    font-style: italic;
    font-family:serif;
    margin-left: 30%;

}

.foto {
    position:fixed; 
	top:12%; 
	left:5%; 
}
    
.socialmedia {
    position: fixed;
    bottom: 40%;

}